<div class="pull-left col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit course</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div catch-validation-errors></div>

                <form class="col-md-9 col-lg-9" ng-submit="model.editCourse(model.course)">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Id:</td>
                                <td>
                                    <input type="text" class="form-control" readonly ng-value="model.course.id">
                                </td>
                            </tr>
                            <tr>
                                <td>Department:</td>
                                <td>
                                    <select class="form-control"
                                            ng-model="model.course.department"
                                            ng-options="department.name for department in model.departments track by department.id"
                                            required>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Title:</td>
                                <td>
                                    <input type="text" class="form-control" ng-value="model.course.title" ng-model="model.course.title">
                                </td>
                            </tr>

                            <tr>
                            </tr>
                            <tr>
                                <td>Credits:</td>
                                <td>
                                    <input type="number" class="form-control" ng-value="model.course.credits" ng-model="model.course.credits">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-default" ng-click="model.hideEditForm()">Cancel</button>
                </form>

            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>