<div class="pull-left col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Student details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Id:</td>
                            <td>{{ model.student.id }}</td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td>{{ model.student.fullName }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Enrollment date:</td>
                            <td>{{ model.student.enrollmentDate | date: 'yyyy-MM-dd' }}</td>
                        </tr>
                        <tr>
                            <td>Enrollments:</td>
                            <td>
                                <div ng-if="model.student.enrollments.length === 0">
                                    No enrollments.
                                </div>

                                <div ng-repeat="enrollment in model.student.enrollments">
                                    {{ enrollment.courseId }} {{ enrollment.course.title }} </br>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-warning" ng-click="model.showEditForm()">Edit</button>
                </div>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>